<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>马云</string>
				<key>birthday</key>
				<string>tab_w_1</string>
				<key>phone_number</key>
				<array>
					<string>13909873690</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>马化腾</string>
				<key>birthday</key>
				<string>tab_w_1</string>
				<key>phone_number</key>
				<array>
					<string>13568942564</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>强东</string>
				<key>birthday</key>
				<string>tab_w_1</string>
				<key>phone_number</key>
				<array>
					<string>13568942564</string>
				</array>
			</dict>
		</array>
		<key>name</key>
		<string>默认</string>
		<key>isOpen</key>
		<false/>
		<key>count</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>马化腾</string>
				<key>birthday</key>
				<string>tab_w_1</string>
				<key>phone_number</key>
				<array>
					<string>13568942509</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>刘一斌</string>
				<key>birthday</key>
				<string>tab_w_1</string>
				<key>phone_number</key>
				<array>
					<string>13568942340</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>刘总</string>
				<key>birthday</key>
				<string>tab_w_1</string>
				<key>phone_number</key>
				<array>
					<string>13568942534</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>强东刘</string>
				<key>birthday</key>
				<string>tab_w_1</string>
				<key>phone_number</key>
				<array>
					<string>13568942554</string>
				</array>
			</dict>
		</array>
		<key>name</key>
		<string>意向客户</string>
		<key>isOpen</key>
		<false/>
		<key>count</key>
		<string>4</string>
	</dict>
</array>
</plist>
