<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isOpen</key>
		<false/>
		<key>name</key>
		<string>一级代理</string>
		<key>friends</key>
		<array>
			<dict>
				<key>phone</key>
				<string>13666666666</string>
				<key>name</key>
				<string>王思聪</string>
			</dict>
			<dict>
				<key>name</key>
				<string>周星驰</string>
				<key>phone</key>
				<string>13777777777</string>
			</dict>
			<dict>
				<key>phone</key>
				<string>13888888888</string>
				<key>name</key>
				<string>李连杰</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>phone</key>
				<string>13555555555</string>
				<key>name</key>
				<string>吴京</string>
			</dict>
			<dict>
				<key>phone</key>
				<string>13444444444</string>
				<key>name</key>
				<string>王健林</string>
			</dict>
		</array>
		<key>name</key>
		<string>二级代理</string>
		<key>isOpen</key>
		<false/>
	</dict>
	<dict>
		<key>isOpen</key>
		<false/>
		<key>name</key>
		<string>客户</string>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>马云</string>
				<key>phone</key>
				<string>13111111111</string>
			</dict>
			<dict>
				<key>name</key>
				<string>马化腾</string>
				<key>phone</key>
				<string>13222222222</string>
			</dict>
			<dict>
				<key>name</key>
				<string>李彦宏</string>
				<key>phone</key>
				<string>13333333333</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
